/* CalendarUI */

.custom-toggle-group {
	height: 10%;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-toggle-button {
	width: 100px;
	height: 40px;
}

.view-container {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/* Shared */
.header {
	width: 70%;
	height: 10%;
	min-height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.month-year {
	color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

button {
	cursor: pointer;
	font-family: "Orbitron", sans-serif;
	font-weight: 700;
	border-radius: 0;
	background-color: black;
	color: white;
	border: 3px solid white;
}

button:active, .active {
	background-color: white;
	color: black;
	border-color: white;
}

/* DayView */

/* TODO: idk maybe make it smaller */

.day-view-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 500px;
	height: 500px;
	background: black;
	color: white;
	border-radius: 0;
	border: 5px solid white;
}

.month {
	font-weight: 800;
	height: 30%;
	color: black;
	background-color: white;
	padding: 10px;
	font-size: 90px;
}

.others {
	height: 70%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.day {
	font-weight: 300;
	font-size: 40px;
}

.date {
	font-weight: 600;
	font-size: 100px;
}

.year {
	font-weight: 300;
	font-size: 40px;
}

/* MonthView */

.month-view-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for 7 days of the week */
    gap: 5px; /* Space between days */
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.week {
    display: contents; /* Allows the week to flow into the grid */
}

/* Week View */

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.day .weekday {
    font-size: 0.8rem;
    color: #888;
}

.day .date {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* ChangePeriod */

/* TODO: fix these buttons */

.reset {
	padding: 8px 20px;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}